{% extends 'base.html' %}
{% block title %} Tickets {% endblock %}
{% block content %}
<table class="styled-table">
 <thead>
  <tr>
   <th>Author</th>
   <th>Ticket type</th>
   <th>Title</th>
   <th>Description</th>
   <th>Urgency</th>
  </tr>
 </thead>
 <tbody>
  {% for ticket in tickets %}
  <tr>
   <td><a href="/ticket/{{ticket.id}}">{{ticket.author}}</td>
   <td>{{ticket.ticket_type}}</td>
   <td>{{ticket.title}}</td>
   <td>{{ticket.description}}</td>
   <td>{{ticket.urgency}}</td>
  </tr>
  {% endfor %}
 </tbody>
</table>
{% endblock %}